In [5]:
2 % 8

2

In [8]:
print("Cislo je: " + str(15))

Cislo je: 15

In [9]:
2.4 * 10

24.0

In [10]:
type(2.4)

float

In [13]:
(5 <= 7)

True

In [15]:
n = 88
n >= 20

True

$$ x \in (0, 1)$$

In [23]:
x = 20

# 0 < x a zaroven x < 1
print("0 < x:", 0 < x)
print("x < 1:", x < 1)

from_interval = (0 < x) and (x < 1)
print("0 < x < 1", from_interval)

0 < x: True
x < 1: False
0 < x < 1 False

In [36]:
weight = 2.5

In [44]:
if weight <= 2.5:
    print("Dite je lehke.")

elif weight < 5:
    print('Dite je OK.')
else:
    print("Dite je tezke.")

Dite je lehke.

In [66]:
vysky = [187, 172, 185, 190, 170, 173, 164, 202, 175, 184]

In [57]:
vysky[1:]

[172, 185, 190, 170, 173, 164, 202, 175, 184]

In [58]:
vysky[:-1]

[187, 172, 185, 190, 170, 173, 164, 202, 175]

In [59]:
max(vysky)

202

In [60]:
min(vysky)

164

In [70]:
len(vysky)

11

In [65]:
vysky.index(max(vysky))
# np.argmax(vysky)

7

In [71]:
print(vysky)

[187, 172, 185, 190, 170, 173, 164, 202, 175, 184, 150]

In [76]:
vysky.append(150)

In [77]:
print(vysky)

[187, 172, 185, 190, 170, 173, 164, 202, 175, 184, 150, 150, 150, 150, 150]

In [78]:
vysky.count(150)

5

In [84]:
vysky.remove(150)

In [85]:
vysky.count(150)

0

In [86]:
print(vysky)

[187, 172, 185, 190, 170, 173, 164, 202, 175, 184]

In [87]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [88]:
0.5 * vysky

TypeError: can't multiply sequence by non-int of type 'float'

In [89]:
sum(vysky)

1802

In [90]:
sum(vysky) / len(vysky)

180.2

In [91]:
for n in [1, 2, 3]:
    print(n)

1
2
3

In [92]:
print(vysky)

[187, 172, 185, 190, 170, 173, 164, 202, 175, 184]

In [94]:
s = 0
for vyska in vysky:
    s = s + vyska
    # s += vyska

In [96]:
print('celkova vyska:', s)
print('prumerna:', s / len(vysky))

celkova vyska: 1802
prumerna: 180.2